<p id="notice"><%= notice %></p>

<p>
  <strong>Project number:</strong>
  <%= @project.project_number %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
